# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Reading the csv file and assining a variable

In [10]:
data = pd.read_csv(r'C:\Users\user\OneDrive\Documents\10 Acadamy\rating.csv', encoding='utf-8')
data_traffic = pd.read_csv(r'C:\Users\user\OneDrive\Documents\10 Acadamy\traffic.csv', encoding='utf-8')
data_domain = pd.read_csv(r'C:\Users\user\OneDrive\Documents\10 Acadamy\domains_location.csv', encoding='utf-8')

# checking the csv data

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58356 entries, 0 to 58355
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   article_id       58356 non-null  int64
 1   source_id        17771 non-null  object
 2   source_name      58356 non-null  object
 3   author           56193 non-null  object
 4   title            58356 non-null  object
 5   description      58346 non-null  object
 6   url              58356 non-null  object
 7   url_to_image     54905 non-null  object
 8   published_at     58356 non-null  object
 9   content          58356 non-null  object
 10  category         58335 non-null  object
 11  article          58356 non-null  object
 12  title_sentiment  58356 non-null  object
dtypes: int64(1), object(12)
memory usage: 5.8+ MB

In [29]:
data.isnull().sum()

article_id             0
source_id          40585
source_name            0
author              2163
title                  0
description           10
url                    0
url_to_image        3451
published_at           0
content                0
category              21
article                0
title_sentiment        0
dtype: int64

In [80]:
data.head() # to view the top datas

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment,website
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral,www.forbes.com
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive,www.channelnewsasia.com
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative,time.com
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral,phys.org
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral,www.digitaltrends.com

In [63]:
data.tail() # to view the bottom datas

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment,website
58351,781108,NaN,The Indian Express,PTI,"Have done no wrong, only did party work, says ...",The High Court today allowed Shivakumar to wit...,https://indianexpress.com/article/cities/banga...,https://images.indianexpress.com/2023/11/DK-Sh...,2023-11-29 10:57:22,Karnataka Deputy Chief Minister D K Shivakumar...,Home,Karnataka Deputy Chief Minister D K Shivakumar...,Neutral,indianexpress.com
58352,781129,NaN,Forbes,"Tom Sanderson, Senior Contributor, \n Tom Sand...",FC Barcelona Guarantees $77.6 Million Champion...,FC Barcelona have guaranteed at least $77.6 mi...,https://www.forbes.com/sites/tomsanderson/2023...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 08:41:18,FC Barcelona have guaranteed at least $767.6 m...,Home,FC Barcelona have guaranteed at least $767.6 m...,Neutral,www.forbes.com
58353,781235,NaN,NPR,Brigid McCarthy,Three hospitals ignored her gravely ill fiancé...,"Forty years ago, Sarah Lubarsky came home from...",https://www.npr.org/2023/11/29/1215016001/heal...,https://media.npr.org/assets/img/2023/11/23/sa...,2023-11-29 10:01:12,The photo from David and Sarah Lubarsky's wedd...,Home,The photo from David and Sarah Lubarsky's wedd...,Negative,www.npr.org
58354,781240,NaN,Forbes,"Gary Stern, Contributor, \n Gary Stern, Contri...",Kerber’s Farm: Bringing Farm To Table To Manha...,"A farmstand in Long Island, Kerber’s Farms has...",https://www.forbes.com/sites/garystern/2023/11...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 13:44:33,Kerbers Farm: Bringing Farm To Table To Manhat...,Home,Kerber’s Farm: Bringing Farm To Table To Manha...,Neutral,www.forbes.com
58355,781308,NaN,Forbes,"Johan Hajji, Forbes Councils Member, \n Johan ...",Tips For Investing In Short-Term Rentals In Dubai,By exploring your options and keeping a few be...,https://www.forbes.com/sites/forbesbusinesscou...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 14:00:00,Cofounder at UpperKey. Passionate about proper...,Home,Cofounder at UpperKey. Passionate about proper...,Neutral,www.forbes.com

In [21]:
data_traffic.head()

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
0,1,1,google.com,com,471274,2151358,google.com,com,1,1,471248,2147402
1,2,2,facebook.com,com,465424,2250631,facebook.com,com,2,2,465297,2247135
2,3,3,youtube.com,com,420579,1852995,youtube.com,com,3,3,420483,1848940
3,4,4,twitter.com,com,404985,1757127,twitter.com,com,4,4,404998,1753939
4,5,5,instagram.com,com,364746,1598085,instagram.com,com,5,5,364618,1594892

In [17]:
data_traffic.tail()

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
999995,999996,485324,kireie.com,com,222,280,kireie.com,com,-1,-1,-1,-1
999996,999997,485325,mt-lock.com,com,222,280,mt-lock.com,com,952633,461429,232,284
999997,999998,485326,pinkwater.com,com,222,280,pinkwater.com,com,-1,-1,-1,-1
999998,999999,485327,soderhomes.com,com,222,280,soderhomes.com,com,-1,-1,-1,-1
999999,1000000,485328,toyotamusicfactory.com,com,222,280,toyotamusicfactory.com,com,973201,471949,228,284

In [37]:
data_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   GlobalRank      1000000 non-null  int64
 1   TldRank         1000000 non-null  int64
 2   Domain          1000000 non-null  object
 3   TLD             1000000 non-null  object
 4   RefSubNets      1000000 non-null  int64
 5   RefIPs          1000000 non-null  int64
 6   IDN_Domain      1000000 non-null  object
 7   IDN_TLD         1000000 non-null  object
 8   PrevGlobalRank  1000000 non-null  int64
 9   PrevTldRank     1000000 non-null  int64
 10  PrevRefSubNets  1000000 non-null  int64
 11  PrevRefIPs      1000000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 91.6+ MB

In [14]:
data_domain.head()

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China

# Task 1-	Websites that have the largest count of news articles

In [30]:
website_counts = data['website'].value_counts()
sorted_website_data = website_counts.sort_values(ascending=False)
top_websites = sorted_website_data.head(10)
bottom_websites = sorted_website_data.tail(10)
print("Top Ten website by number of article published:")
print(top_websites)
print("\nBottom Ten websites by number of article published:")
print(bottom_websites)

Top Ten website by number of article published:
website
www.etfdailynews.com            16746
www.globenewswire.com            5423
economictimes.indiatimes.com     5310
www.globalsecurity.org           3119
www.forbes.com                   2784
timesofindia.indiatimes.com      2194
abcnews.go.com                   2058
www.businessinsider.com          2034
www.bbc.co.uk                    2032
punchng.com                      1800
Name: count, dtype: int64

Bottom Ten websites by number of article published:
website
gizmodo.com                         388
readwrite.com                       324
www.euronews.com                    286
www.wired.com                       270
www.cnn.com                         267
www.theverge.com                    214
www.bbc.com                          81
allafrica.com                        20
cnalifestyle.channelnewsasia.com     18
cnaluxury.channelnewsasia.com         4
Name: count, dtype: int64

# Websites with the highest numbers of visitors traffic

In [49]:
sorted_data = data_traffic.sort_values(by='GlobalRank')

top_ten = sorted_data[['GlobalRank', 'Domain']].head(10)
bottom_ten = sorted_data[['GlobalRank', 'Domain']].tail(10)

print("Top Ten Domain Names by GlobalRank:")
print(top_ten)

print("\nBottom Ten Domain Names by GlobalRank:")
print(bottom_ten)

Top Ten Domain Names by GlobalRank:
   GlobalRank                Domain
0           1            google.com
1           2          facebook.com
2           3           youtube.com
3           4           twitter.com
4           5         instagram.com
5           6          linkedin.com
6           7             apple.com
7           8         microsoft.com
8           9  googletagmanager.com
9          10         wikipedia.org

Bottom Ten Domain Names by GlobalRank:
        GlobalRank                  Domain
999990      999991            eiretrip.com
999991      999992    exploring-africa.com
999992      999993                hmag.com
999993      999994          irishcycle.com
999994      999995         keith-baker.com
999995      999996              kireie.com
999996      999997             mt-lock.com
999997      999998           pinkwater.com
999998      999999          soderhomes.com
999999     1000000  toyotamusicfactory.com

# Task 1: Countries with the highest number of news media organisations

In [46]:
country_counts = data_domain.groupby('Country')['SourceCommonName'].nunique()
sorted_country_counts = country_counts.sort_values(ascending=False)
top_countries = sorted_country_counts.head(10)
bottom_countries = sorted_country_counts.tail(10)
print("Top Ten Countries with the highest number of news media organizations:")
print(top_countries)
print("\nBottom Ten Countries with the lowest number of news media organizations:")
print(bottom_countries)

Top Ten Countries with the highest number of news media organizations:
Country
United States     14111
United Kingdom     1946
Italy              1804
France             1039
Russia             1020
Canada              886
Germany             884
China               779
Turkey              725
India               686
Name: SourceCommonName, dtype: int64

Bottom Ten Countries with the lowest number of news media organizations:
Country
Guinea-Bissau               1
Guernsey                    1
Mayotte                     1
Oceans                      1
Greenland                   1
Aruba                       1
Saint Helena                1
Guadeloupe                  1
Cook Islands                1
Turks and Caicos Islands    1
Name: SourceCommonName, dtype: int64

# Task 1: Countries that have many articles written about them

In [78]:
country_names = data_domain['Country'].tolist()
country_data = data[data['category'].isin(country_names)]
country_talking_counts = country_data['category'].value_counts()
sorted_country_talking = country_talking_counts.sort_values(ascending=False)
top_10_countries = sorted_country_talking.head(10)
bottom_10_countries = sorted_country_talking.tail(10)

print("Top Ten Countries with the highest news counts:")
print(top_10_countries)

print("\nBottom Ten Countries with the lowest news counts:")
print(bottom_10_countries)

Top Ten Countries with the highest counts:
category
Canada            2066
India             1054
Australia          877
United Kingdom     753
Ukraine            577
Mexico             553
United States      481
Nigeria            469
Germany            459
Hong Kong          430
Name: count, dtype: int64

Bottom Ten Countries with the lowest counts:
category
Liechtenstein    8
Bhutan           7
Montserrat       7
Eritrea          6
Gambia           4
San Marino       4
Honduras         3
Andorra          3
Burundi          3
Martinique       2
Name: count, dtype: int64

# Task 1: Websites that reported (the news content) about Africa, US, China, EU, Russia, Ukraine, Middle East?

In [147]:
african_countries = ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde", "Cameroon", "Central African Republic", "Chad", "Comoros", "Congo",
"Democratic Republic of the Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Ethiopia", "Eswatini", "Gabon", "Gambia", "Ghana", "Guinea", 
"Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", 
"Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "São Tomé and Príncipe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", 
"South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"]

europian_countries= ["Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", 
"Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece", "Hungary", "Iceland",
"Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro",
"Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain",
"Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom"]

middle_east =["Bahrain", "Cyprus", "Egypt", "Iran", "Iraq", "Israel", "Jordan", "Kuwait", "Lebanon", "Oman", "Qatar", "Saudi Arabia", "Syria",
"Turkey", "United Arab Emirates", "Yemen"]

united_states = ['United States']
china = ['China']
russia = ['Russia']
ukraine = ['Ukraine']
def news_count_per_group(group_name, data):
    group_data = data[data['category'].isin(group_name)]
    group_website_counts = group_data['website'].value_counts()
    sorted_group_website_count = group_website_counts.sort_values(ascending=False)
    top_10_group_websites = sorted_group_website_count.head(10)
    bottom_10_group_websites = sorted_group_website_count.tail(10)

    print('\nTop ten websites')
    print(top_10_group_websites)

    print('\nBottom ten websites')
    print(bottom_10_group_websites)

# Call the function with the list of African countries and your data
print('websites who are talking about African countries')
news_count_per_group(african_countries, data)

print('\nwebsites who are talking about Europian countries')
news_count_per_group(europian_countries, data)

print('\nwebsites who are talking about Middle East')
news_count_per_group(middle_east, data)

print('\nwebsites who are talking about United State')
news_count_per_group(united_states, data)

print('\nwebsites who are talking about China')
news_count_per_group(china, data)

print('\nwebsites who are talking about Russia')
news_count_per_group(russia, data)

print('\nwebsites who are talking about Ukraine')
news_count_per_group(ukraine, data)

websites who are talking about African countries

Top ten websites
website
punchng.com                     839
www.marketscreener.com          248
www.globalsecurity.org          202
www.etfdailynews.com            190
www.bbc.co.uk                   136
www.rt.com                      130
economictimes.indiatimes.com    122
www.aljazeera.com               117
abcnews.go.com                  116
www.ibtimes.com                  98
Name: count, dtype: int64

Bottom ten websites
website
time.com                  21
indianexpress.com         15
boingboing.net             8
gizmodo.com                5
www.digitaltrends.com      3
www.androidcentral.com     2
www.wired.com              2
readwrite.com              2
www.bbc.com                2
www.theverge.com           1
Name: count, dtype: int64

websites who are talking about Europian countries

Top ten websites
website
www.etfdailynews.com       1072
www.globalsecurity.org      573
www.globenewswire.com       571
www.rt.com                  279
abcnews.go.com              276
www.businessinsider.com     230
www.aljazeera.com           222
www.bbc.co.uk               176
www.euronews.com            168
www.ibtimes.com             155
Name: count, dtype: int64

Bottom ten websites
website
indianexpress.com         37
boingboing.net            32
www.cnn.com               27
www.digitaltrends.com     17
www.bbc.com               13
www.wired.com              9
readwrite.com              9
gizmodo.com                9
www.androidcentral.com     6
www.theverge.com           4
Name: count, dtype: int64

websites who are talking about Middle East

Top ten websites
website
www.globalsecurity.org          350
www.aljazeera.com               237
economictimes.indiatimes.com    145
www.businessinsider.com         122
www.rt.com                      121
abcnews.go.com                  118
www.bbc.co.uk                    90
www.npr.org                      85
www.ibtimes.com                  72
www.globenewswire.com            70
Name: count, dtype: int64

Bottom ten websites
website
phys.org                  21
www.cnn.com               15
www.euronews.com          15
www.digitaltrends.com     13
www.bbc.com                4
readwrite.com              1
www.wired.com              1
www.androidcentral.com     1
gizmodo.com                1
www.theverge.com           1
Name: count, dtype: int64

websites who are talking about United State

Top ten websites
website
www.etfdailynews.com            145
www.globenewswire.com            78
www.globalsecurity.org           47
www.businessinsider.com          35
boingboing.net                   28
abcnews.go.com                   22
www.npr.org                      18
www.aljazeera.com                11
www.forbes.com                   11
economictimes.indiatimes.com     10
Name: count, dtype: int64

Bottom ten websites
website
gizmodo.com               6
www.androidcentral.com    5
www.ibtimes.com           5
www.wired.com             4
www.theverge.com          3
www.rt.com                3
punchng.com               3
deadline.com              2
www.cnn.com               2
indianexpress.com         1
Name: count, dtype: int64

websites who are talking about China

Top ten websites
website
www.globalsecurity.org          113
www.etfdailynews.com             79
timesofindia.indiatimes.com      38
economictimes.indiatimes.com     31
www.ibtimes.com                  22
www.rt.com                       21
www.globenewswire.com            20
www.aljazeera.com                18
www.businessinsider.com          15
www.forbes.com                   11
Name: count, dtype: int64

Bottom ten websites
website
punchng.com               5
deadline.com              4
www.androidcentral.com    4
www.bbc.co.uk             4
indianexpress.com         3
boingboing.net            3
www.cnn.com               2
gizmodo.com               1
phys.org                  1
www.bbc.com               1
Name: count, dtype: int64

websites who are talking about Russia

Top ten websites
Series([], Name: count, dtype: int64)

Bottom ten websites
Series([], Name: count, dtype: int64)

websites who are talking about Ukraine

Top ten websites
website
www.globalsecurity.org          169
www.businessinsider.com         151
www.rt.com                       61
abcnews.go.com                   51
www.bbc.co.uk                    31
timesofindia.indiatimes.com      28
www.npr.org                      16
www.ibtimes.com                  15
economictimes.indiatimes.com     13
www.aljazeera.com                10
Name: count, dtype: int64

Bottom ten websites
website
readwrite.com            4
boingboing.net           4
www.globenewswire.com    4
www.wired.com            3
gizmodo.com              2
phys.org                 2
www.forbes.com           2
www.bbc.com              2
www.theverge.com         1
punchng.com              1
Name: count, dtype: int64

In [ ]:
title_data = data_traffic.sort_values(by='Globa')

top_ten = sorted_data[['GlobalRank', 'Domain']].head(10)
bottom_ten = sorted_data[['GlobalRank', 'Domain']].tail(10)

print("Top Ten Domain Names by GlobalRank:")
print(top_ten)

print("\nBottom Ten Domain Names by GlobalRank:")
print(bottom_ten)

In [52]:
website_sentiment_counts = data.groupby(['website', 'title_sentiment']).size().unstack(fill_value=0)

# Print the sentiment counts for each website
print(website_sentiment_counts)

title_sentiment                   Negative  Neutral  Positive
website
abcnews.go.com                         726     1193       139
allafrica.com                            8       12         0
boingboing.net                         250      293       170
cnalifestyle.channelnewsasia.com         0       12         6
cnaluxury.channelnewsasia.com            0        2         2
deadline.com                            84      794        54
economictimes.indiatimes.com           744     3634       932
gizmodo.com                             76      253        59
indianexpress.com                      251      787       138
phys.org                               284      836       143
punchng.com                            455     1229       116
readwrite.com                           38      216        70
time.com                               185      382        33
timesofindia.indiatimes.com            466     1515       213
www.aljazeera.com                      706      927        31
www.androidcentral.com                  38      212       272
www.bbc.co.uk                          828     1135        69
www.bbc.com                             26       50         5
www.businessinsider.com                890      907       237
www.channelnewsasia.com                126      448        78
www.cnn.com                            102      142        23
www.digitaltrends.com                   43      335       406
www.etfdailynews.com                   560    15194       992
www.euronews.com                       114      157        15
www.forbes.com                         216     1933       635
www.globalsecurity.org                 747     2255       117
www.globenewswire.com                   27     4491       905
www.ibtimes.com                        319      844        44
www.marketscreener.com                  42     1167       153
www.npr.org                            279      617        85
www.rt.com                             403      698        27
www.theverge.com                        35      118        61
www.wired.com                           65      138        67

# Websites with the highest count of positive, neutral, and negative sentiment?

In [60]:
# Group the DataFrame by the 'website' and 'title_sentiment' columns
grouped_data = data.groupby(['website', 'title_sentiment'])

# Calculate the count of each sentiment for each website
sentiment_counts = grouped_data.size().unstack(fill_value=0)

# Calculate the mean sentiment count for each website
sentiment_counts['mean'] = sentiment_counts.mean(axis=1)

# Sort the DataFrame by the mean values in descending order
sorted_sentiment_counts = sentiment_counts.sort_values(by='mean', ascending=False)

# Extract the top ten and bottom ten websites
top_ten = sorted_sentiment_counts.head(10)
bottom_ten = sorted_sentiment_counts.tail(10)

# Print the top ten and bottom ten websites
print("Top Ten Websites:")
print(top_ten)
print("\nBottom Ten Websites:")
print(bottom_ten)

Top Ten Websites:
title_sentiment               Negative  Neutral  Positive         mean
website
www.etfdailynews.com               560    15194       992  5582.000000
www.globenewswire.com               27     4491       905  1807.666667
economictimes.indiatimes.com       744     3634       932  1770.000000
www.globalsecurity.org             747     2255       117  1039.666667
www.forbes.com                     216     1933       635   928.000000
timesofindia.indiatimes.com        466     1515       213   731.333333
abcnews.go.com                     726     1193       139   686.000000
www.businessinsider.com            890      907       237   678.000000
www.bbc.co.uk                      828     1135        69   677.333333
punchng.com                        455     1229       116   600.000000

Bottom Ten Websites:
title_sentiment                   Negative  Neutral  Positive        mean
website
gizmodo.com                             76      253        59  129.333333
readwrite.com                           38      216        70  108.000000
www.euronews.com                       114      157        15   95.333333
www.wired.com                           65      138        67   90.000000
www.cnn.com                            102      142        23   89.000000
www.theverge.com                        35      118        61   71.333333
www.bbc.com                             26       50         5   27.000000
allafrica.com                            8       12         0    6.666667
cnalifestyle.channelnewsasia.com         0       12         6    6.000000
cnaluxury.channelnewsasia.com            0        2         2    1.333333